<img src="{{ album.album_logo }}" alt="Album_logo" width="512" height="288">﻿
<hr>
<h1>{{ album.album_title }}</h1>
<h3>{{ album.artist }}</h3>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="post">
	{% csrf_token %}
	{% for song in album.song_set.all %}
		<input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
		<label for="song{{ forloop.counter }}">
			{{ song.song_title }}.{{ song.file_type }}
			{% if song.is_favorite %}
				<img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/heart-icon.png" width="15" height="15">﻿
			{% endif %}
		</label><br>
	{% endfor %}
	<br><input type="submit" value="Favorite">
</form>